.size-xs {
  width: 48px;
  height: 48px;
}

.skills-highlight {
  background: rgba(202, 174, 162, 0.6);
  width: 300px;
  height: 24px;
  margin-left: 24px;
  margin-bottom: -93px;

  opacity: 0.8;
  border-radius: 5px;
}

.skills-title {
  position: relative;
  top: 50px;
  padding-bottom: 75px;
  padding: 0 24px 75px 24px;
}
