.intro {
  color: #f9f9f9;
  font-weight: 500;
}

.contact-container .highlight {
  background: rgba(202, 174, 162, 0.6);
  width: 100px;
  height: 24px;
  margin-left: 24px;
  margin-bottom: -93px;

  opacity: 0.8;
  border-radius: 5px;
}

.contact-container h2 {
  position: relative;
  top: 50px;
  /* padding-bottom: 75px; */
  padding: 0 24px 75px 24px;
}

.contact-container {
  color: #000;
  background: #f9f9f9;
  padding-bottom: 25px;
  padding-top: 2.5%;
}

.wrapper-contact {
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 24px;
}

.contactInfoContainer {
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactInfoContainer .contactMeContainer {
  width: 45%;
}

.contactInfoContainer .contactMeContainer i {
  padding-left: 20%;
  padding-right: 10%;
  opacity: 0.8;
}

.contactInfoContainer .contactMeContainer p {
  margin-top: 20px;
  font-size: 18px;
}

.contactInfoContainer .contactMeContainer .contactEmail {
  font-weight: 600;
  text-decoration: none;
  opacity: 0.8;
}

.contactInfoContainer .contactMeContainer a {
  color: black;
}

.contactInfoContainer .contactMeContainer a:hover {
  color: RGBA(132, 165, 157, 0.5);
}

form {
  width: 200px;
  padding: 20px 20px 20px 0px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background: RGBA(132, 165, 157, 0.5);
  border: none;
  opacity: 0.7;
}

form textarea {
  height: 150px;
  width: 500px;
  resize: none;
}

form input[type="text"],
form input[type="email"] {
  width: 500px;
}

input {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
}

textarea {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
}

form button {
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: RGBA(132, 165, 157, 0.5);
  opacity: 0.7;
  cursor: pointer;
  width: 75%;
  margin-top: 10px;
}

form button:hover {
  background: rgba(202, 174, 162, 0.6);
}

@media only screen and (max-width: 800px) {
  .contactInfoContainer .contactMeContainer p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1024px) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    max-width: calc(100% - 2em);
  }

  .contactInfoContainer .contactMeContainer {
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  .contact-container .highlight {
    width: 90px;
    height: 20px;
    margin-bottom: -90px;
  }
}

@media only screen and (max-width: 648px) {
  form textarea {
    width: 390px;
  }

  form input[type="text"],
  form input[type="email"] {
    width: 390px;
  }

  .contact-container {
    padding-top: 12.5%;
  }
}

@media only screen and (max-width: 490px) {
  .contactInfoContainer .contactMeContainer p {
    font-size: 16px;
  }

  form textarea {
    width: 300px;
  }

  form input[type="text"],
  form input[type="email"] {
    width: 300px;
  }

  .intro {
    font-size: 28px;
  }
}

@media only screen and (max-width: 381px) {
  .contactInfoContainer .contactMeContainer p {
    font-size: 16px;
  }

  form textarea {
    width: 225px;
  }

  form input[type="text"],
  form input[type="email"] {
    width: 225px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-container {
    padding-top: 20%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-container {
    padding-top: 20%;
  }
  .intro {
    font-size: 38px;
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-container {
    padding-top: 30%;
  }
}
