.contact .highlight {
  background: rgba(202, 174, 162, 0.6);
  width: 100px;
  height: 24px;
  margin-bottom: -93px;

  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.contact h2 {
  position: relative;
  top: 50px;
  padding-bottom: 75px;
}

.container {
  color: #000;
  background: #f9f9f9;

  @media screen and (max-width: 768px) {
    padding: 100px 0;
  }
}

.wrapper-contact {
  z-index: 1;
  height: 600px;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
}

.contactInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactInfoContainer .contactMeContainer {
  width: 40%;
}

.contactInfoContainer .contactMeContainer i {
  padding-left: 20%;
  padding-right: 10%;
  opacity: 0.8;
}

.contactInfoContainer .contactMeContainer p {
  margin-top: 20px;
}

.contactInfoContainer .contactMeContainer .contactEmail {
  font-weight: 600;
  text-decoration: none;
  opacity: 0.8;
}

.contactInfoContainer .contactMeContainer a {
  color: black;
}

.contactInfoContainer .contactMeContainer a:hover {
  color: RGBA(132, 165, 157, 0.5);
}

form {
  width: 200px;
  padding: 20px 20px 20px 0px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background: RGBA(132, 165, 157, 0.5);
  border: none;
  opacity: 0.7;
}

form textarea {
  height: 150px;
  width: 500px;
  resize: none;
}

form input[type="text"],
form input[type="email"] {
  width: 500px;
}

form .placeholder {
  font-family: "Work Sans", sans-serif;
  color: #fff;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: RGBA(132, 165, 157, 0.5);
  opacity: 0.7;
  cursor: pointer;
  width: 75%;
  margin-top: 10px;
}

form button:hover {
  background: #fbe0cd;
}
