.skills .highlight {
  position: absolute;
  background: rgba(250, 176, 137, 0.6);
  width: 90px;
  height: 24px;
  top: 38px;
  left: -4px;
  opacity: 0.8;
  border-radius: 5px;
}

.skills h2 {
  margin-top: -50px;
}
